@import "tailwindcss";
@theme inline {
  --font-sans: var(--font-inter);
}
@layer base {
  html, body {
    font-family: var(--font-inter);
  }
}
html {
  scroll-behavior: smooth;
}


/* For WebKit‑based browsers (Chrome, Safari, newer Edge, etc.) */
::-webkit-scrollbar {
  width: 7px;      /* width of vertical scrollbar */
  height: 10px;     /* height of horizontal scrollbar (if any) */
}

::-webkit-scrollbar-track {
  background: #f1f1f1;  /* track / rail background */
}

::-webkit-scrollbar-thumb {
  background: #888;      /* draggable thumb */
  border-radius: 5px;    /* rounded corners (optional) */
}

::-webkit-scrollbar-thumb:hover {
  background: #555;      /* thumb color on hover */
}
